@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.links {
    text-align: center;
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.4rem;
    text-decoration: none;
}

/* Inline block for li items*/
li {
    display: inline-block;
    outline: none;
}

/* Take away underline for a tags*/
a {
    text-decoration: none;

}
