/* Display background and attributes*/
html {
      background: url(../IMG/InReviewBACKGROUNDlow.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 100%;
      min-height: 100%;
      background-color: #080820;
  }

/* Grid container smaller screen*/
.gridContainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: auto;
    grid-template-areas: ". . . . . . smallLogo smallLogo smallLogo .";
}

/* Display small logo and attributes on smaller devices*/
.logoSmallContainer {
    grid-area: smallLogo;
    margin-right: 100px;
    outline: none; }

.logoSmall {
    margin-top: 10px;
    margin-left: 7px;
    background-position-x: 70%;
    width: 200px;
    height: 50px;
    background-image: url("../IMG/MWLOGO.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    outline: none;
}

/*Hide large logo on smaller devices*/
.largeLogoContainer {
    grid-area: largeLogo;
    background-size: contain;
    display: none; }

/* Hide links on smaller devices*/
.linkContainer {
    display: none;
}


/* Start Queries*/
@media screen and (min-width: 45rem) {

    /* Hide small logo on smaller devices */
    .logoSmall {
        display: none; }

    .logoSmallContainer {
        display: none;
    }

    /* Grid container for larger devices*/
    .gridContainer {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas:
                ". largeLogo largeLogo ."
                ". links links .";
    }

    /*Display links */
    .linkContainer {
        text-align: center;
        display: inline-block;
        height: 100px;
        grid-area: links;
    }

    /*Display large logo and attributes on larger devices */
    .largeLogoContainer {
        height: 120px;
        display: block;
    }
    .logoLarge {
        margin-top: 10px;
        background-image: url("../IMG/MWLOGO.png");
        background-size: contain;
        background-position: center;
        height: 100px;
        background-repeat: no-repeat;
        grid-area: largeLogo;
    }
}